<h1>Where we've wandered</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.description %></td>
        <td><%= link_to image_tag(post.picture_url(:thumb)), post if post.picture? %></td>
        <td><%= post.latitude %></td>
        <td><%= post.longitude %></td>
				<% if correct_user(post) %>
				<td><div class="btn-group">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
					Edit <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Edit', edit_post_path(post) %></li>
        <li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></li></ul>
				</div>
				</td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-large btn-success" %>
