
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= link_to image_tag(@post.picture_url, :width=>600), @post.picture.url if @post.picture.present? %>
</p>

<p>
  <strong>Location:</strong>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&maptype=hybrid&sensor=false&zoom=15&markers=#{@post.latitude}%2C#{@post.longitude}" %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>

<%= link_to 'Back', posts_path %>
